<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Set the root logger level to WARN and its appender -->
    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Set the Quartz logger level to WARN -->
    <logger name="org.quartz" level="WARN" />

    <!-- Console appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
</configuration> 